name: CI/CD Pipeline

on:
  push:
    branches: [main]

jobs:

  frontend:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Install frontend dependencies
      run: |
        npm install

    - name: Build frontend
      run: |
        npm run build

  backend:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.10

    - name: Install backend dependencies
      run: |
        cd fastapi_backend
        pip install -r requirements.txt

    - name: Test backend
      run: |
        cd fastapi_backend
        python -m pytest || true
